{{#if error}}
{{#if (eq error "Ingrese_todos_los_campos")}}
<h2>Error: Por favor, complete todos los campos</h2>
{{/if}}
{{#if (eq error "Usuario_y/o_contraseña_incorrectas")}}
<h2>Error: Usuario y/o contraseña incorrectos</h2>
{{/if}}
{{#if (eq error "usuario_no_existe")}}
<h2>Error: El usuario no existe</h2>
{{/if}}
{{/if}}

{{#if cierreSession}}
<section>
        <div>
                <h2>Sesión cerrada</h2>
                <h3>¡¡¡Esperamos verte nuevamente por nuestro sitio!!! </h3>
                <h4>No te pierdas nuestras increíbles ofertas semanales...</h4>
                <img src="https://i.pinimg.com/564x/7e/34/44/7e3444c269a70ff79ba10224eb3303b6.jpg" alt="dinoAdios">
        </div>
        <button class="custom-button"><a href="/home">Volver al inicio</a></button>
</section>
{{else}}
<section>
        <h1>¡¡¡Bienvenidx {{user.first_name}} {{user.last_name}}!!!</h1>
        <p>Edad: {{user.age}}</p>
        <p>Email: {{user.email}}</p>
        <img src="https://i.pinimg.com/564x/6d/2d/5e/6d2d5edcab1c6c6ef57e899e93525c68.jpg" alt="imagen de bienvenida"
                width="45%" height="auto">
        <div><a href="/api/sessions/logout"><button class="custom-button">Cerrar Sesión</button></a></div>
        <div><a href="/home"><button class="custom-button">Ir a home</button></a></div>
</section>
{{/if}}